@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}
.text-primary{
    color: #ff900e;
}
/* dark02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
   background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main>section{
    margin-top: 130px;
}

/* header styles */



/* navbar related styles */
.navbar {
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;

}

.banner-image{
    width: 100%;
}

/* teams and features styles */
.teams {
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
   max-width: 530px; 
}

#quick-list{
    font-weight: 500;
}

/* features section styles */
.features {
    gap: 140px;
}

#feture-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}

.feature-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;

}

#experince-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -77px;
}

#experince-year {
  font-size: 4rem;
  font-weight: 700;  
}

.feature-image-container{
   width: 100%; 
}

/* facts section styles */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
  max-width: 540px;  
}



/* sponsors section styles */

.sponsor-info{
  max-width: 540px;
    margin: 50px auto;
    text-align: center;  
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer styles */

.footer-content{
    margin-top: 130px;
    margin-bottom: 216px;
    text-align: center;
    background-color: #FFF4E7;
    padding: 40px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}


/* media queries for responsiveness */
@media (max-width: 576px) {

    .navbar,  
    .teams,
    .features 
    {
        flex-direction: column;
    }
 .nav-links{
    flex-direction: column;
 }

    .banner-image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .team-img-container{
        grid-template-columns: 1fr;
    
    }

    .facts-container {
        grid-template-columns: 1fr;
       justify-items: center; 
       gap: 24px;
    }
.sponsor-companies{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
}
    .our-features {
        margin-left: 20px;
    }

    /* #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    } */

    .feature-image-container{
       max-width: 100%;
}
}

/* media queries for responsiveness for medium devices */
@media (min-width: 576px) and (max-width: 992px) {
.teams {
    flex-direction: column;
    }
    .our-features {
      margin-left: 20px auto;  
    }

    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 25px;
        padding: 0 60px;
    }
}